* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: white;
  color: #2b2b2b;
  overflow: scroll;
  overflow-x: hidden;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.2em;
  font-family: 'Courier New', Courier, monospace;
}

h2 span {
  color: #42b9c2;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.header-parallax {
  position: relative;
  background-image: url("../images/parallax.jpeg");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  line-height: 5rem;
}

.header-parallax::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.header-parallax .header-content {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header-parallax .header-content h1 {
  font-size: 4.8rem;
}

.header-parallax .header-content p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.container {
  width: 70%;
  margin: auto;
}

.active {
  border: 3px solid #2b2b2b;
}

.hide {
  display: none;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.5rem;
}

.icon-container a {
  margin-right: 2.5rem;
}

.icon-container a i.fab {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.icon-container a i.fab:hover {
  color: #42b9c2;
}

.icon-container p {
  margin-right: 2.5rem;
}

section#bio {
  display: block;
  width: 100%;
}

section#bio .bio-grid {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 5rem;
  line-height: 2.5rem;
}

section#bio .bio-grid a {
  font-weight: bold;
  color: #42b9c2;
  text-decoration: underline;
}

section#bio .bio-grid h2 {
  margin-bottom: 2rem;
  color: #2b2b2b;
}

section#bio .bio-grid p {
  text-align: left;
}

section#bio .bio-grid img {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  border-radius: 50px;
  border: 3px solid #2b2b2b;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#industry {
  display: block;
  width: 100%;
  background: rgba(231, 231, 231, 0.801);
}

section#industry h2 {
  margin-bottom: 3rem;
}

section#industry .industry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 5rem;
}

section#industry .industry-grid .industry-logo {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  background: white;
  border-radius: 50px;
  cursor: pointer;
}

section#industry .industry-grid .industry-logo:hover {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);
}

section#industry .industry-grid #optum {
  padding-bottom: 3%;
}

section#industry .industry-grid #optum img {
  display: block;
  width: 100%;
  margin: auto;
}

section#industry .industry-grid #starkey {
  padding-top: 3%;
}

section#industry .industry-grid #starkey img {
  display: block;
  width: 75%;
  margin: auto;
}

section#industry #industry-description {
  text-align: left;
  line-height: 2rem;
}

section#projects {
  display: block;
  width: 100%;
  background: white;
}

section#projects h2 {
  margin-bottom: 2rem;
}

section#projects .container {
  width: 90%;
}

section#projects .container .project-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 5rem;
}

section#projects .container .project-grid #project-pictures {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#projects .container .project-grid #project-pictures img {
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  border: 3px solid #2b2b2b;
}

section#projects .container .project-grid #project-pictures img:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.5);
}

section#projects .container .project-grid #project-content {
  text-align: left;
  line-height: 2rem;
}

section#projects .container .project-grid #project-content a {
  font-weight: bold;
  color: #42b9c2;
  text-decoration: underline;
}

section#studies {
  display: block;
  width: 100%;
  background: #ebebeb;
}

section#studies h2 {
  margin-bottom: 3rem;
}

section#studies .studies-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  grid-column-gap: 5rem;
}

section#studies .studies-grid #studies-content {
  text-align: left;
  line-height: 2rem;
}

section#studies .studies-grid #studies-content span {
  font-weight: bold;
  color: #42b9c2;
}

section#studies .studies-grid #studies-picture {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section#studies .studies-grid #studies-picture img {
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  border-radius: 50px;
  border: 3px solid #2b2b2b;
}

section {
  padding: 5rem 0;
}

footer {
  display: block;
  position: relative;
  min-height: 20vh;
  background: #2b2b2b;
  color: white;
}

footer #footer-content {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

footer #footer-content .icon-container {
  margin-bottom: 1.5rem;
}

@media (min-width: 1200px) {
  section#industry .industry-grid .industry-logo {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  h2 {
    margin-bottom: 1em !important;
  }
  .container {
    width: 60%;
  }
  section#projects .container {
    width: 70%;
  }
}

@media (max-width: 970px) {
  section#bio {
    padding: 2rem 0;
  }
  section#industry {
    padding: 2rem 0;
  }
  section#projects {
    padding: 2rem 0;
  }
  section#projects .container {
    width: 70%;
  }
  section#studies {
    padding: 2rem 0;
  }
  .icon-container {
    font-size: 2rem;
  }
  .header-parallax .header-content h1 {
    font-size: 3rem;
  }
  .header-parallax .header-content p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  section#bio .bio-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
  section#projects .container .project-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
  section#projects .container .project-grid #project-content h3 {
    text-align: center;
  }
  section#studies .studies-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 3rem;
  }
  section#studies h2 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 411px) {
  .icon-container {
    font-size: 2rem;
  }
  .header-parallax .header-content h1 {
    font-size: 2.5rem;
  }
  .header-parallax .header-content p {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  section#bio .bio-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
  section#projects .container .project-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
  section#studies .studies-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2rem;
  }
}
/*# sourceMappingURL=styles.css.map */